@model DruPortalMvc.Models.BlogPostViewModel
@{
    ViewData["Title"] = "Yeni Blog";
}
<h2>Yeni Blog</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ShortDescription" class="form-label"></label>
        <input asp-for="ShortDescription" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" id="WordContent" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="BlogCategoryId" class="form-label"></label>
        <select asp-for="BlogCategoryId" asp-items="Model.Categories" class="form-control"></select>
        <span asp-validation-for="BlogCategoryId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
<script src="https://cdn.tiny.cloud/1/dpe4cgc92up9sidx5u0f8eklwosou0elsw3ft7q33wajhcou/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#WordContent',
    height: 500,
    menubar: true,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
    toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
  });
</script> 